<!-- <div class="d-flex justify-content-between" style="height:20%">
  <div style="margin-left:3%;border-width:10%;border-color: chartreuse;"><i class='fa fa-user-circle'></i></div>
  
  <i class="fa fa-plus"style="margin-right:3%"></i>
</div> -->
<!-- <div class="d-flex justify-content-between" style="margin:4%;">
  <img style="width:10%;height:5%;" src="assets/userprofile-removebg-preview.png">
  <h2 class="page-title" >Product Page</h2>
  <img style="width:10%;height:5%;" src="assets/plusAdd.png">
</div> -->


<div style="margin:5%">
<div  (click)="salespage(salesperson.name)" class="salespeople-container cardAnimation" *ngFor="let salesperson of salespeople">
    <div  class="row"  style="margin:2%">
        <div style="width:80%">
          <h3 class="salesperson-name">{{salesperson.name}}</h3>
          <!-- circle row icon -->
          <div style="margin-right:10%;" class="">
              <div id="grid_groups_wrapper" class="">
                <tbody>
                    <tr role="row group" class="odd">
                    <a class="route d-flex">
                          <div title="Baby Yoda" class="rounded-circle default-avatar member-overlap-item" 
                              style="background: url(assets/boy.png) 0 0 no-repeat; background-size: cover;background-color: #ea6837">
                          </div>
                          <div title="R2D2" class="rounded-circle default-avatar member-overlap-item"
                              style="background: url(assets/girl.png) 0 0 no-repeat; background-size: cover;background-color: #ea6837">
                          </div>
                          <div title="Jabba the Hut" class="rounded-circle default-avatar member-overlap-item"
                              style="background: url(assets/boynew.png) 0 0 no-repeat; background-size: cover;background-color: #ea6837">
                          </div>
                          <div title="Chewbacca" class="rounded-circle default-avatar member-overlap-item"
                              style="background: url(assets/girlnew.png) 0 0 no-repeat; background-size: cover;background-color: #ea6837">
                          </div>
                          <div title="C-3PO" class="rounded-circle default-avatar member-overlap-item"
                              style="background: url(assets/1plus.png) 0 0 no-repeat; background-size: cover;background-color: #ea6837">
                          </div>
                          
                    </a>
                    </tr>
                </tbody>
              </div>
          </div>
        </div>
        <!-- <p>{{salesperson.description}}</p> -->
        <!-- <button class="table-toggle-btn" >View Sales Team</button> -->
        <table class="customer-table" *ngIf="salesperson.tableVisible">
          <thead>
            <tr>
              <th>Name</th>
              <th>Address</th>
              <th>Phone Number</th>
              <th>Request</th>
            </tr>
          </thead>
          <tbody>
            
          </tbody>
        </table>
        <img  style="width:20%;height:25%;margin-top:5%;" 
            [src]='salesperson.image' alt="Flowers in Chania">
            <i class="bi bi-0-square-fill"></i>
    </div>
</div>

<!-- DATATABLE -->
<div class="p-3">
  <div class="table-responsive">
    <table class="table table-bordered display" [dtOptions]="dtOptions" datatable width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>Name</th>
          <th>Location</th>
          <th>Date</th>
          <th>Meeting Type</th>
          <th>Show</th>
          <th>Edit</th>
          <th>Cancel</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let customer of customers">
          <td style="min-width: 20px;">
            {{customer.name}}
          </td>
          <td style="min-width: 20px;">
            {{customer.meeting_location}}
          </td>
          <td style="min-width: 20px;">
            {{customer.date}} {{customer.time}}
          </td>
          <td style="min-width: 20px;">
            {{customer.meeting_type}}
          </td>

          <td><a data-toggle="modal" data-target="#dialog1" class="btn btn-primary btn-circle btn-sm">
              <i class="fas fa-flag"></i>
            </a></td>
          <td><button data-toggle="modal" data-target="#dialog1" class="btn btn-info btn-circle btn-sm">
              <i class="fas fa-check"></i>
            </button></td>
          <td><a class="btn btn-danger btn-circle btn-sm">
              <i class="fas fa-trash"></i>
            </a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- popup -->
<div class="modal fade" id="dialog1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="card-danger">
        <div class="card-header">
          <h3 class="card-title">Headin</h3>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <form class="user" autocomplete="off">
          <div class="card-body">

          </div>
        </form>

      </div>
    </div>
  </div>
</div>
