<h2 class="page-title">Call percentage by Salespersons</h2>

  <div id="chart1">


  </div>
  <br>
<h2 class="page-title">Calls made per Product</h2>
<div id="chart">
    <apx-chart
      [series]="chartOptions.series!"
      [chart]="chartOptions.chart!"
      [dataLabels]="chartOptions.dataLabels!"
      [plotOptions]="chartOptions.plotOptions!"
      [responsive]="chartOptions.responsive!"
      [xaxis]="chartOptions.xaxis!"
      [legend]="chartOptions.legend!"
      [fill]="chartOptions.fill!"
    ></apx-chart>
</div>

  <h2 class="page-title">Calls per Product in Years</h2>
  <div id="chart">
    <apx-chart
      [series]="chartOptions1.series!"
      [chart]="chartOptions1.chart!"
      [dataLabels]="chartOptions1.dataLabels!"
      [plotOptions]="chartOptions1.plotOptions!"
      [responsive]="chartOptions1.responsive!"
      [xaxis]="chartOptions1.xaxis!"
      [legend]="chartOptions1.legend!"
      [fill]="chartOptions1.fill!"
    ></apx-chart>
  </div>


  

 