<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="productname">
      <th mat-header-cell *matHeaderCellDef> Product Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="No. of Sales person">
      <th mat-header-cell *matHeaderCellDef> No. of Salesperson </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="productvalue">
      <th mat-header-cell *matHeaderCellDef> Product Value </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>
  
    <!-- show -->
    <ng-container matColumnDef="show">
      <th mat-header-cell *matHeaderCellDef> Show </th>
      <td mat-cell *matCellDef="let element"> <a data-toggle="modal" data-target="#dialog1">
        <i class="fa fa-eye"></i>
      </a> </td>
    </ng-container>
  
    <!-- edit -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Edit </th>
      <td mat-cell *matCellDef="let element"> 
        <i class="fas fa-edit" data-toggle="modal" data-target="#dialog1"></i>
       </td>
    </ng-container>
  
    <!-- delete -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element"> <a>
        <i class="far fa-trash-alt"></i>
      </a> </td>
    </ng-container>
  
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
